.position {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 423px;
  max-height: 280px;
  color: #ffffff;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 50px;
}

input {
  outline: none;
  border: none;
  color: #000000;
  font-weight: 400;
  text-align: center;
  background: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

input::-webkit-input-placeholder {
  font-weight: 300;
  color: #ACACAC;
}

input:-ms-input-placeholder {
  font-weight: 300;
  color: #ACACAC;
}

input::-ms-input-placeholder {
  font-weight: 300;
  color: #ACACAC;
}

input::placeholder {
  font-weight: 300;
  color: #ACACAC;
}

.title {
  margin: 20px 27%;
  font-size: 48px;
}

.translate {
  font-size: 30px;
  margin: 10px 20%;
}

.translate::-webkit-input-placeholder {
  color: #9E9E9E;
}

.translate:-ms-input-placeholder {
  color: #9E9E9E;
}

.translate::-ms-input-placeholder {
  color: #9E9E9E;
}

.translate::placeholder {
  color: #9E9E9E;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 8px;
}

.arrow {
  width: 25px;
  position: absolute;
  margin-left: 10px;
  border-radius: 50%;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 366px;
    max-height: 264px;
  }
  .title {
    margin: 20px 17%;
    font-size: 40px;
  }
  .translate {
    font-size: 26px;
    margin-bottom: 80px;
  }
  .button {
    width: 42px;
    height: 42px;
  }
  .button span {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 366px;
    max-height: 264px;
  }
  .title {
    font-size: 34px;
  }
  .translate {
    font-size: 20px;
    margin-bottom: 90px;
  }
  .button {
    width: 38px;
    height: 38px;
  }
  .button span {
    font-size: 29px;
  }
  .arrow {
    width: 19px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 300px;
  }
}

@media screen and (max-width: 370px) {
  .container {
    max-width: 276px;
  }
  .title {
    margin: 20px 17%;
    font-size: 35px;
  }
  .translate {
    font-size: 20px;
    margin-bottom: 120px;
  }
  .button {
    width: 42px;
    height: 42px;
  }
  .button span {
    font-size: 28px;
    margin-top: 2px;
  }
  .arrow {
    width: 17px;
  }
}
