.edit
    height: 100vh
    width: 100vw

.edit__button
    
    background-color:  #47B752
    transition: all .3s
    &:hover
        background-color: #45C752
    img
        margin-top: 5px
    
.buttonPosition
    margin-top: 35px