.container__button
    display: flex

.learn__button_cancel
    background-color: #EB5757
    transition: all .3s ease-out
    &:hover
        background-color: #FF7474
    img
        margin-top: 5px
.learn__button_correct
    background-color: #47B752
    transition: all .3s ease-out
    &:hover
        background-color: #3ACB49
    img
        margin-top: 5px

.edit
    display: flex
    justify-content: flex-end
    margin-right: 10px
    margin-top: 10px
    cursor: pointer