.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 12px;
  margin-bottom: 50px;
}

.text {
  -webkit-transition: all .5s;
  transition: all .5s;
  text-decoration: none;
  color: #727272;
  font-size: 48px;
  font-weight: 300;
}

a:hover {
  color: #A2A2A2;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 800px) {
  .text {
    font-size: 30px;
  }
}

@media screen and (max-width: 540px) {
  .text {
    font-size: 25px;
  }
}

@media screen and (max-width: 452px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  ul li {
    margin: 60px;
  }
  ul li:nth-child(2) {
    display: none;
  }
}
