.add
    width: 100vw
    height: 100vh

.add__button
    font-size: 40px
    color: white
    background-color: #47B752
    transition: all .3s
    margin-top: 95px
    span
        display: block
        margin-bottom: 3px
    &:hover
        background-color: #45C752

@media screen and(max-width: 700px)
    .add__button
        position: absolute
        bottom: -25px
        left: 0
        right: 0
        

